<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contact | Ptr Brightera Academy Careers</title>
  {% include 'components/bootstrap.html' %}
</head>
<body>

  {% include 'layouts/navbar.html' %}

  <div class="container my-5">
    <header class="text-center mb-5">
      <h1 class="display-5">Contact Information</h1>
    </header>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm border-1 ">
          <div class="card-body">
            <h5 class="card-title text-center mb-4 text-primary">Ptr Brightera Academy</h5>
            <ul class="list-unstyled text-dark">
              <li class="mb-2">
                <strong>Contact Person:</strong><br />
                Peter Chikwanda
              </li>
              <li class="mb-2">
                <strong>Phone:</strong><br />
                <a href="tel:+27781652776" class="text-decoration-none text-dark">078 165 2776</a>
              </li>
              <li>
                <strong>Email:</strong><br />
                <a href="mailto:ptrbrighteraacademy@gmail.com" class="text-decoration-none text-dark">
                  ptrbrighteraacademy@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'layouts/footer.html' %}

</body>
</html>
