      <!DOCTYPE html>
      <html lang="en">
      <head>
        <title>Login | Ptr Brightera Academy Careers</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
        {% include 'components/bootstrap.html' %}
      </head>
      <body>

        {% include 'layouts/navbar.html' %}

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div style="position: fixed; top: 80px; left: 50%; transform: translateX(-50%); z-index: 1050; width: 30%; max-width: 300px;">
              <div class="alert alert-danger text-center py-2 px-2 mb-0" style="font-size: 0.9rem;">
                {% for message in messages %}
                  <p class="mb-0">{{ message }}</p>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endwith %}



        <div class="container">
          <div class="form-login mt-5">
            <div class="branding-header text-center mb-4">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
              <h2>Welcome Back</h2>
              <button id="theme-toggle" class="btn btn-sm btn-outline-light mt-2">Toggle Theme</button>
            </div>

    <form class="form-register"  method="POST" action="{{ url_for('login', next=request.args.get('next')) }}" style="max-width: 400px; margin: 0 auto;" >
      <div class="form-group mb-3">
            <label for="usernameOrEmail">Username</label>
            <input type="text" class="form-control" id="usernameOrEmail" name="username_or_email" placeholder="Enter your username or email" required>
       </div>

      <div class="form-group mb-4">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
      </div>

      <button type="submit" class="btn btn-primary w-50 d-block mx-auto">Log In</button>

  </form>

        </div>
        </div>

        {% include 'layouts/footer.html' %}
  <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</body>
</html>
